In [1]:
import pandas as pd
import numpy as np

np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

In [3]:
abalone_train = pd.read_csv(
   "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"]
)

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [4]:
abalone_train.tail()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
3315,0.605,0.475,0.180,0.9365,0.3940,0.2190,0.2950,15
3316,0.700,0.525,0.190,1.6015,0.7070,0.3650,0.4300,10
3317,0.530,0.420,0.130,0.8365,0.3745,0.1670,0.2490,11
3318,0.395,0.315,0.105,0.3515,0.1185,0.0910,0.1195,16
3319,0.450,0.355,0.120,0.4120,0.1145,0.0665,0.1600,19

In [5]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')

In [6]:
abalone_features = np.array(abalone_features)
abalone_features

array([[0.435, 0.335, 0.11 , ..., 0.136, 0.077, 0.097],
       [0.585, 0.45 , 0.125, ..., 0.354, 0.207, 0.225],
       [0.655, 0.51 , 0.16 , ..., 0.396, 0.282, 0.37 ],
       ...,
       [0.53 , 0.42 , 0.13 , ..., 0.374, 0.167, 0.249],
       [0.395, 0.315, 0.105, ..., 0.118, 0.091, 0.119],
       [0.45 , 0.355, 0.12 , ..., 0.115, 0.067, 0.16 ]])

In [7]:
abalone_model = tf.keras.Sequential([
    layers.Dense(64),
    layers.Dense(1)
])

abalone_model.compile(loss = tf.losses.MeanSquaredError(),
                     optimizer = 'adam')

In [8]:
history = abalone_model.fit(abalone_features, abalone_labels, epochs = 10)

Epoch 1/10
104/104 [==============================] - 0s 896us/step - loss: 63.4771
Epoch 2/10
104/104 [==============================] - 0s 700us/step - loss: 12.8938
Epoch 3/10
104/104 [==============================] - 0s 700us/step - loss: 9.1189
Epoch 4/10
104/104 [==============================] - 0s 709us/step - loss: 8.4816
Epoch 5/10
104/104 [==============================] - 0s 709us/step - loss: 7.9005
Epoch 6/10
104/104 [==============================] - 0s 699us/step - loss: 7.4225
Epoch 7/10
104/104 [==============================] - 0s 692us/step - loss: 7.0581
Epoch 8/10
104/104 [==============================] - 0s 682us/step - loss: 6.8023
Epoch 9/10
104/104 [==============================] - 0s 704us/step - loss: 6.6247
Epoch 10/10
104/104 [==============================] - 0s 697us/step - loss: 6.4979

In [9]:
normalize = preprocessing.Normalization()
normalize.adapt(abalone_features)

In [ ]:
norm_abalone_model = tf.keras.Sequential([
    normalizer,
    layers.Dense(64),
    layers.Dense(1)
])

norm_abalone_